* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.nav-block{
    background-color:rgb(35, 37, 54);
    display: flex;
    flex-direction: row;
}
.logo{
    margin: 25px 621.25px 26.73px 83px;
}
.container1{
    display: flex;
    flex-direction: row;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    margin: 26px 32px 26px 0px;
}
#x0{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration-line: none;
    
}
#x1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0px 24px;
    text-decoration-line: none;
}
#x2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration-line: none;
    margin-right: 24px;
}
#x3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration-line :none ;
    
}
#x4{
    background-color: white;
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding: 16px 48px 16px 48px;
    text-decoration-line: none;
    margin: 12px 0px 12px 32px;
    
}
.container2{
    max-width: 1280px;
    margin : 80px auto 0px;
}
.block2{
    display: flex;
    flex-direction: row;
    max-width: 1133px;
    margin-left: 140px;
   
}
.block22{
    max-width:624px ;
    background-color: white;
   
}
.block2-1{
    color: rgb(35, 37, 54);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
    margin: 64px 456px 16px 64px;
    max-width: 104px;
}
.block2-2{
    max-width: 496px;
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: left;
    margin: 0px 64px 64px 64px;
    display: inline-block;
}
.block2-3{
    color: rgb(76, 76, 76);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin: 102px 32px 142px 32px;
}
.block3{
    max-width: 1280px;
    height: 441px;
    background-image: url('../image4/image1.png') ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 263.21px 541px 0px 109px;
    position: relative;
    top: -69px;
    z-index: -1;
}
.block33{
    display: flex;
    flex-direction: row;
    max-width: 630px;
    background-color:#FFD050;
    
}
.block3-1{
    max-width: 121px;
    margin: 31.78px 68px 31.78px 43px;
}
.block3-2{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 56px; 
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: left;
}
.p1{
    color: rgb(35, 37, 54);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;

}
.block3-4{
    max-width: 141.54px;
    margin: 31.78px 68px 31.78px 0px; 
}
.block3-5{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: left;
}
.p2{
    color: rgb(35, 37, 54);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.block3-6{
    margin: 31.78px 48px 31.78px 0px;
}
.block3-7{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: left;
}
.p3{
    color: rgb(35, 37, 54);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.block4{
    max-width: 311.48px;
    height: 22.84px;
    background-color:#592EA9 ;
}
.block5{
        max-width: 550px;
        height: 22.84px;
        background-color: #FFD050;
        position: relative;
        right: -311px;
        top: -23px;
        
 }  
 .block44{
    max-width: 1280px;
    margin: auto;
    display: flex;
    background-color: #F4F0F8;
    position: relative;
    top: -69px;
   
 }
 .block44-1{
    max-width: 516px;
    margin: 128px 48px 64px 108px;
   
 }
 .p4{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
    margin: 0px 381px 24px 0px;
 }
 .p4-2{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    text-align: left;
    margin: 0px 35px 16px 0px;
 }
 .p4-3{
    color: rgb(109, 110, 118);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
 }
 .block55{
    margin: 128px 108px 64px 0px;

 }
 .p5-1{
    color: rgb(35, 37, 54);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
    margin: 0px 384px 24px 0px;
 }
 .block5-2{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    text-align: left;
    margin: 0px 41px 16px 0px;
 }
 .block5-3{
    color: rgb(109, 110, 118);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
 }
 .container3{
    max-width: 1280px;
    margin: auto;
 }
 .block6{
    max-width: 1280px;
    margin:0px auto 128px;
    display: flex;
    align-items: flex-end;
 }
 .block6-1{
    margin: 82px 138px 82px 0px;
    max-width: 519px;
 }
.p6{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: left;
    margin: 0px 75px 16px 0px;
}
.p6-1{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 16px;
}
.p6-2{
    color: rgb(35, 37, 54);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.block6-2{
   max-width: 681px;
} 
.image2{
  width: 624px; 
  height: 480px; 
}
.image4{
    max-width: 103px;
    height:116px ;
    position: relative;
    left: -50px;
    bottom: -220px;
} 
.block7{
    display: flex;
    max-width: 1280px;
    margin: 0px auto 91px;
} 
.block7-1{
    max-width: 624px ;
    height: 517px;
}
.image3{
    width: 624px;
    height:480px ;

}
.circle{
    position: relative;
    bottom: -522px;
    right: -111px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
}
.block7-2{
    max-width: 519px;
    height: 316px;
    margin: 158px 73px 119px 64px;
}
.p7{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: left;
    margin: 0px 118px 16px 0px;
}
.p8{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 16px;
}
.p9{
    color: rgb(35, 37, 54);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.block4x{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 h2{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: left;
    text-align: center;
    margin-bottom: 48px;
}
.block4-1{
    max-width: 296px ;
    max-height: 324px ;
    background-image: url('../image4/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.image5{
    max-width: 128px;
    height: 128px;
    margin: 40px 84px 20px;
}
.block4-1 h3{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    text-align: center;
}
.p22{
    max-width:240px ;
    color: rgb(109, 110, 118);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
     margin: auto ;
     text-align: center;
}
.social1-block{
    max-width: 112px;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    margin: 20px auto 40px;
}
.social1{
    display: inline-block;
    object-fit: cover;
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
    margin: 40px 84px 20px;
}
.block4-2{
    background-image: url('../image/background2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.image6{
    max-width: 128px;
    height: 128px;
    margin: 40px 84px 20px;
}
.social2{
    display: inline-block;
    object-fit: cover;
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
    margin: 40px 84px 20px;
}
.block4-2 h3{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    text-align: center;
}
.block4-3{
    background-image: url('../image4/Background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.image7{
    max-width: 128px;
    height: 128px;
    margin: 40px 84px 20px;
}
.block4-3 h3{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    text-align: center;
}
.social3{
    display: inline-block;
    object-fit: cover;
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
    margin: 40px 84px 20px;
}
.block4-4{
    background-image: url('../image4/background.png');
    background-repeat: repeat;
    background-size: 100% 100%;
}
.image8{
    max-width: 128px;
    height: 128px;
    margin: 40px 84px 20px;
}
.social4{
    display: inline-block;
    object-fit: cover;
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
    margin: 40px 84px 20px;
}
.block4-4 h3{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    text-align: center;
}
.block9{
    margin: 32px auto 128px;
}
.block4xx{
    display: flex;
    justify-content: space-between;
}
.block4-1{
    max-width: 296px ;
    max-height: 324px ;
    background-image: url('../image4/Background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.image9{
    max-width: 128px;
    height: 128px;
    margin: 40px 84px 20px;
}
.block4-1 h3{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    text-align: center;
}
.p22{
    max-width:240px ;
    color: rgb(109, 110, 118);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
     margin: auto ;
     text-align: center;
}
.social1-block{
    max-width: 112px;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    margin: 20px auto 40px;
}
.social1{
    display: inline-block;
    object-fit: cover;
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
    margin: 40px 84px 20px;
}
.block4-2x{
    background-image: url('../image4/Background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.image10{
    max-width: 128px;
    height: 128px;
    margin: 40px 84px 20px;
}
.social2{
    display: inline-block;
    object-fit: cover;
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
    margin: 40px 84px 20px;
}
.block4-2x h3{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    text-align: center;
}
.block4-3{
    background-image: url('../image4/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.image7{
    max-width: 128px;
    height: 128px;
    margin: 40px 84px 20px;
}
.block4-3 h3{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    text-align: center;
}

.social3{
    display: inline-block;
    object-fit: cover;
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
    margin: 40px 84px 20px;
}
.block4-4{
    background-image: url('../image4/background.png');
    background-repeat: repeat;
    background-size: 100% 100%;
}
.image11{
    max-width: 128px;
    height: 128px;
    margin: 40px 84px 20px;
}
.social4{
    display: inline-block;
    object-fit: cover;
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
    margin: 40px 84px 20px;
}
.block4-4 h3{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
    text-align: center;
}
.image12{
    max-width: 128px;
    height: 128px;
    margin: 40px 84px 20px;
}
.block9{
    margin: 32px auto 128px;
}
.block10{
    max-width: 414px;
    margin: 124px auto 128px;
}
.block10-1{
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 16;
}
.p29{
    color: rgb(109, 110, 118);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center; 
    margin-bottom: 32px;
}
.a4{
    max-width: 174px;
    color: rgb(35, 37, 54);
    font-family: Sen;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    padding: 16px 48px;
    background-color: #FFD050;
    margin: 0px 120px;
    display: inline-block;
    text-decoration-line: none;
}
.Logo{
    position: relative;
    width: 140px;
    height: 28.35px;
    margin: 2px 703px 54.65px 3px;
}
.N-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-block{
    margin-top: 128px;
    background-color:  rgb(35, 37, 54);
}
.container5{
    max-width: 1280px;
    margin: auto ;
    padding: 59px 0 56px;
}
#a1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration-line: none;
}
#a2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration-line: none; 
    margin-left: 24px;
}
#a3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration-line: none;
    margin-left: 24px;
}
#a4{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left; 
    text-decoration-line: none;
    margin-left: 24px;
    margin-right: 24px;
}
#a5{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration-line: none;
}
.block8{
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0px auto 48px;
}
.block8-1{
    
    display: flex;
    flex-direction: row;
}
.p30{
    color: rgb(255, 255, 255);
    font-family: Sen;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: left;
    margin: 80px 64px;
    max-width: 562px;
   }
.email{
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgb(76, 76, 76);
    padding: 14px 162.77px 14px 24.92px ;
    margin: 84px 24px 116px 0px;

   }
::placeholder{
    color: rgb(109, 110, 118);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
   }
   .block-sub{
        padding: 16px 48px;
        background: rgb(255, 208, 80);
        color: rgb(35, 37, 54);
        font-family: Sen;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        text-decoration-line: none;
        margin: 84px 64px 116px 0px;
        border: 1px solid  rgb(255, 208, 80);;
   }
   .p31{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    
   }
   address{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    display: inline-block;
   }
   .soc-block{
    max-width: 144px;
    float: right;
   }
   .Fc{
    text-decoration-line: none;
   }
   .Tw{
    margin: 0px 23px;
    text-decoration-line: none;
   }
   .In{
    margin-right: 22px;
    text-decoration-line: none;
   }



